@model Plantas_2._0.ficha

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Ficha</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                <label class="col-md-2">Id</label>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.idficha, new { htmlAttributes = new { @class = "form-control",placeholder="Ingresar el Url sin el http://" } })
                @Html.HiddenFor(model => model.idficha)
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="col-md-2">Nombre</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="col-md-2">Direccion Web</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="col-md-2">URL Imagen</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.img_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.img_url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="col-md-2">Activo</label>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.activo)
                    @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="col-md-2">Fecha Creacion</label>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.fecha_creacion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List","Fichas")
</div>
